{% extends 'l1nx/base.html' %}

{% block title %}Серверный монитор{% endblock %}

{% block content %}
<div class="page-layout">
    <div class="sysinfo">
        <div class="sysinfo-main">
            <p>
                Система: {{system}}
            </p>
            <p>
                Версия ядра: {{release}}
            </p>
            <p>
                Версия дистрибутива: {{version}}
            </p>
            <p>
                Дата запуска: {{active_since|date:'d-m-Y H:i'}}
            </p>
            <p>
                Работает: {{days_active}} дней
            </p>
        </div>
        <div class="sysinfo-cpu">
            <p>
                Количество ядер: {{CPU.cores}}
            </p>
            <p>
                Общая нагрузка: {{CPU.load_all}}%
            </p>
            <p>
                Нагрузка по ядрам: {{CPU.load_percpu}}
            </p>
        </div>
    </div>
    <div class="raminfo">
        <p>
            {{RAM.title}}
        </p>
        <p>
            {{RAM.graph|safe}}
        </p>
        <p>
            {{RAM.data.total}}
        </p>
        {% for item in RAM.data.list_info %}
            <p>
                {{item}}
            </p>
        {% endfor %}
    </div>
    <div class="hddinfo">
        <p>
            {{HDD.title}}
        </p>
        <div class="hdd-flex" style="display:flex;">
            <div class="hdd-graph" style="max-width:700px;float:left;">
                {{HDD.graph|safe}}
            </div>
            <div class="hdd-text" style="float:right;">
                <p>
                    {{HDD.data.total}}
                </p>
                {% for item in HDD.data.list_info %}
                    <p>
                        {{item}}
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}