{% load static l1nx_tags sekizai_tags%}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} | l1nx.ru</title>
        <link rel="icon" type="image/png" sizes="32x32" href="{%  static 'img/icon.svg' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{%  static 'img/icon.svg' %}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="yandex-verification" content="8dbac2f32f4c12a1" />
        {% block meta %}
        {% endblock meta %}
        {% block canonical_url %}
            <link rel="canonical" href="{% get_canonical_url request %}">
        {% endblock canonical_url %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic"> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/l1nx.css' %}">
        {% render_block 'css' %}
    </head>
    <body>
    {% include 'includes/header.html' %}

    <div class="site-content">
        {% block breadcrumb %}{% endblock breadcrumb %}
        {% block content %}{% endblock content %}
    </div>

    {% include 'includes/footer.html' %}

    <script language="JavaScript" type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script language="JavaScript" type="text/javascript" src="{% static 'js/l1nx.js' %}"></script>

    <!-- Yandex.Metrika counter -->
    <script>
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(57575977, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true
        });
    </script>
    <!-- /Yandex.Metrika counter -->
    <noscript><div><img src="https://mc.yandex.ru/watch/57575977" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    {% render_block 'js' %}
    </body>
</html>