*,*:after,*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box
}
.clearfix::after,
.header::after{
    content: "";
    display: table;
    clear: both;
}
body{
    margin: 0;
    padding: 0;
    background-color: #919191;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1;
    color: #000;
    line-height: 22px;
    height: 100%;
    min-width: 1220px;
}
.sysinfo, .raminfo, .hddinfo{
    border: 1px solid #000;
    padding: 15px;
}
.sysinfo{
    display: flex;
}
.sysinfo .sysinfo-main{
    float: left;
}
.sysinfo .sysinfo-cpu{
    float: right;
    padding-left: 40px;
}
@media (min-width: 641px) {
    /* Общее */
    a{
        color: #000;
        text-decoration: none;
    }
    a:hover{
        color: #00bebe;
    }
    button{
        background-color: #000;
        color: #fff;
        min-height: 35px;
        height: auto;
        width: 90px;
    }
    button:hover{
        background-color: #00bebe;
    }
    /* Хэдер */
    .header{
        box-shadow: 0 0 5px #000;
        background-color: #fff;
    }
    .header__body{
        font-size: 19px;
        max-width: 1180px;
        margin: 0 auto;
    }
    .header__logo{
        padding: 30px 0;
        float: left;
    }
    .header__email{
        padding: 30px 0;
        float: right;
        text-align: right;
        display: block;
    }
    .email{
        font-weight: 700;
    }
    .menu{
        font-size: 19px;
        max-width: 1180px;
        margin: 0 auto;
        border-top: 1px solid #ccc;
    }
    .menu__list{
        border-bottom: 1px solid #ccc;
        list-style: none;
        margin: 0;
        padding: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .menu__item{
        padding: 22px;
    }
    /* Футер */
    .footer{
        color: #fff;
        background-color: #333;
    }
    .footer__top, .footer__bottom{
        margin: 0 auto;
        max-width: 1220px;
    }
    /* Тело страницы */
    .page-layout{
        margin: 0 auto;
        padding: 20px;
        max-width: 1220px;
        background-color: #fff;
    }
}
@media (max-width: 640px) {
    body{
        min-width: 375px;
        transition: all .2s;
        height: auto;
    }
    .header{
        box-shadow: 0 0 5px #000;
        background-color: #fff;
    }
    .footer{
        color: #fff;
        box-shadow: 0 0 5px #000;
        background-color: #333;
    }
    .page-layout{
        margin: 0;
        padding: 0 10px;
        width: auto;
        background-color: #fff;
    }
}