/** 
 * theming styles
 * 
 */

#content {
    padding: 0;
    margin: 15px;
}

#header {
    background: #f8f8f8;

    /* Reset the indents of django-flat-theme
      (need to restore 40px on branding+user-tools instead) */
    padding-left: 0;
    padding-right: 0;
}

#user-tools{
    color: black;
    font-size: 12px;
    font-weight: unset;
    font-family: sans-serif;
}
#header #branding h1 {
    margin: 5px;
    text-indent: -9999px;
    background: url(../img/logo.png) no-repeat;
    background-size: 150px 50px;
    height: 50px;
    width: 170px;
    border-radius: 0;
}

#header #user-tools {
    /* Old Django: 1.2em, flat theme: 40px; */
    padding-right: 1.2em;
}

#header #user-tools a{
    color: #000;
    text-decoration: none;
}
#header #user-tools a:hover{
    color: #00bebe;
    border-bottom: 0;
}

#bookmark-form {
    clear: both;
}
#header #bookmark-button.bookmarked{
    background: url(../img/bookmarked.png) no-repeat;
    width: 40px;
    height: 40px;
}
#header #bookmark-button{
    background: url(../img/bookmark.png) no-repeat;
    width: 32px;
    height: 32px;
}


div.breadcrumbs {
    display: block;
    padding: 10px 15px;
    border: 0;
    background-position: 0 -8px;
    border-bottom: 1px solid #ededed;
}

div.breadcrumbs a {
    display: inline;
}
