{% extends 'l1nx/base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<div class="page-layout">
    <div class="content"> 
            <h1>{{ post.title }}</h1>
            <p class="date">
                Published {{ post.date_publish }} by {{ post.author }}
            </p>
            {{ post.body|linebreaks }}
            {% if post.tags.exists %}
                <p class="tags">
                    Теги:
                    {% for tag in post.tags.all %}
                        <a href="{% url "l1nx_blog:post_tag" tag.slug %}">
                            {{ tag.name }}
                        </a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            {% endif %}
            {% with comments.count as total_comments %}
                <h2>
                    {{ total_comments }} comment{{ total_comments|pluralize }}
                </h2>
            {% endwith %}
            {% for comment in comments %}
                <div class="comment">
                    <p class="info">
                        Комментарий {{ forloop.counter }} от <strong>{{ comment.author }}</strong>
                        {{ comment.created|date:'d.m.Y' }}
                    </p>
                    {{ comment.body|linebreaks }}
                </div>
            {% empty %}
                <p>Ещё никто не оставил комментарий. Будьте первым!</p>
            {% endfor %}
            {% if request.user.is_authenticated %}
                {% if new_comment %}
                    <h2>Ваш комментарий опубликован.</h2>
                {% else %}
                    <h2>Оставить комментарий</h2>
                    <form action="." method="post">
                        {{ comment_form.as_p }}
                        {% csrf_token %}
                        <p><input type="submit" value="Добавить комментарий"></p>
                    </form>
                {% endif %}
            {% endif %}
            <p>
                <a href="{% url "l1nx_blog:post_share" post.id %}">Поделитесь этим постом</a>
            </p>
            <h2>Похожие статьи</h2>
            {% for post in similar_posts %}
                <p>
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </p>
            {% empty %}
                Похожих постов не найдено.
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}