{% extends 'l1nx/base.html' %}
{% block title %}Блог{% endblock title%}
{% block content %}
<div class="page-layout">
    <div class="content">
        <h2>Блог</h2>
        <div class="blog_post__list">
        {% for post in posts %}
            <a href="{{ post.get_absolute_url }}"><h3>{{post.title}}</h3></a>
            <p>{{ post.body|truncatewords:30|linebreaks }}</p>
            {% if post.tags.exists %}
                <p class="tags">
                    Теги:
                    {% for tag in post.tags.all %}
                        <a href="{% url "l1nx_blog:post_tag" tag.slug %}">
                            {{ tag.name }}
                        </a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            {% endif %}
            <span>{{post.author}} - {{post.date_publish|date:"d m Y"}}</span>
        {% endfor %}
        </div>
        {% include "l1nx_blog/pagination.html" with page=page_obj %}
    </div>
</div>
{% endblock content %}