{% extends "l1nx/base.html" %}
{% block title %}Поделиться постом{% endblock %}
{% block content %}
    {% if sent %}
        <h1>E-mail успешно отправлен</h1>
        <p>
            "{{ post.title }}" был успешно отправлен {{ cd.to }}.
        </p>
    {% else %}
        <h1>Поделись "{{ post.title }}" по e-mail</h1>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Отправить">
        </form>
    {% endif %}
{% endblock %}