<footer class="footer">
    <div class="footer__top">
        Some info
    </div>
    <div class="footer__bottom">
        <div class="footer__copyright">
            ©L1NX 2020 Все права защищены.
        </div>
    </div>
</footer>