{% load static l1nx_tags%}
<header class="header">
    <div class="header__body clearfix">
        <div class="header__logo">
            <a href="{% url 'home'%}" class="logo">
                <img src="{% static 'img/logo.png'%}" alt="" class="logo__img">
            </a>
        </div>
        {% comment %} <div class="header__email">
            <h2>Контакты:</h2>
            <a href="tel:+79137694486" class="email">+7 (913) 769-44-86</a><br>
            <a href="mailto:sarkisyan.r.a@yandex.ru" class="email">sarkisyan.r.a@yandex.ru</a>
        </div> {% endcomment %}
    </div>
    {% get_header_menu as menu_items%}
    <nav class="menu">
        <ul class="menu__list">
            {% for item in menu_items%}
                <li class="menu__item">
                    <a href="{{item.link}}" class="menu__link">{{item.title}}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</header>